*.gem
*.rbc
*.pdf
*.txt
test.rb
QueueSim.sublime-project
QueueSim.sublime-workspace
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Docs/*
# YARD artifacts
.yardoc
_yardoc
doc/
